body {
    background-image: url("../../public/images/hotel1.jpg");
    background-size: cover;
    background-position: center;
}
.container {
    background-color: white;
    margin-top: 150px;
    padding: 20px;
    border: 1px solid #9EEAF7;
    border-radius: 8px;
    width: 50%;
}
.content{
    /* margin-left: 170px; */
    /* max-width:600px; */
    display: flex;      
    justify-content: space-between;
}
#logo_hotel{
    width: 90px;
}
#titel_bill{
    text-align: center;
    color: #9EEAF7;
    font-size: 40px;
}
.bill-info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bill-info span {
    margin-left: 10px;
}

.total {
    font-weight: bold;
    text-align: right;
}

.button-container button {
    padding: 10px 20px;
    background-color: #9EEAF7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button-back-print{
    display: flex;
    justify-content: space-between;
}