    body {
        background-color: #f6f6f6;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    .container {
        margin-top: 150px;
    }

    #title_404_not_found {
        font-size: 36px;
        color: #333;
    }

    #room_not_found {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
    }