.footer{
    width: 100%;
    background-color: #3568A4  ;
    box-sizing: content-box;
}
.footer_button_contact{
    background-color:#3568A4  ;
    border: none;
}
.nav_text_footer{
    color: white;
    text-decoration: none;
}
#footer_text_contact{
    color: white;
    text-decoration: none;
}
.ms-auto {
    margin-left: 20px;
}
.image_footer{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}
