.password-form {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    height: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
}
.password2,
.password {
    background-color: #1e94ee;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
    margin-left: 35px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.password2 {
    background-color: #1e94ee;
    color: #fff;
    border-radius: 10px;
}

.title {
    margin-top: 90px;
    text-align: center;
    color: #333; /* Màu chữ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Hiệu ứng óng ánh */
}


.form-group {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input[type="password"]:focus {
    border-color: #1e94ee;
}

input[type="submit"] {
    background-color: #1e94ee;
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

